 /*
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

$font-main: 'YS medium', sans-serif;
// $font-accent: 'YS black', serif;
// $font-secondary: 'YS regular', sans-serif;




